<div class="page-content-wrapper border">
    <!-- Title -->
    <div class="row">
        <div class="col-12">
            <h1 class="h3 mb-2 mb-sm-0">list of developers</h1>
        </div>
    </div>

    <!-- Card START -->
    <div class="card bg-transparent">
        <!-- Card body START -->
        <div class="card-body px-0">
            <!-- Card items START -->
            <div class="row g-4">
                <!-- Card item START -->
                <div class="col-md-6 col-xxl-4"*ngFor="let user of listdeveloppeur">
                    <div class="card bg-transparent border h-100"> 
                        <!-- Card header -->
                        <div class="card-header bg-transparent border-bottom d-flex align-items-sm-center justify-content-between">
                            <div class="d-sm-flex align-items-center">
                                <!-- Avatar -->
                                <div class="avatar avatar-md flex-shrink-0">
                                    <img class="avatar-img rounded-circle" src="http://localhost:8980/PockerPlanning/auth/{{user.picture}}"  alt="avatar">
                                </div>
                                <!-- Info -->
                                <div class="ms-0 ms-sm-2 mt-2 mt-sm-0">
                                    <h5 class="mb-0"><a href="#">{{user.firstname}} {{user.lastname}}</a></h5>
                                    <p class="mb-0 small">{{user.email}}</p>
                                </div>
                            </div>

                            <!-- Edit dropdown -->
                            
                        </div>

                        <div class="card-body">
                            <!-- Total students -->
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <div class="d-flex align-items-center">
                                    <div class="icon-md bg-orange bg-opacity-10 text-orange rounded-circle flex-shrink-0"><i class="fas fa-user fa-fw"></i></div>
                                    <h6 class="mb-0 ms-2 fw-light">Account Status:</h6>
                                    
                                </div>
                                <span class="mb-0 fw-bold">{{ user.active ? 'Active' : 'Not Active' }}</span>
                            </div>

                            <!-- Total courses -->
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <div class="icon-md bg-purple bg-opacity-10 text-purple rounded-circle flex-shrink-0"><i class="fas fa-at  fa-fw"></i></div>
                                    <h6 class="mb-0 ms-2 fw-light">Email Status:</h6>
                                </div>
                                <span class="mb-0 fw-bold">{{ user.verified ? 'Verified' : 'Not Verified' }}</span>
                            </div>
                        </div>

                        <!-- Card footer -->
                        <div class="card-footer bg-transparent border-top">
                            <div class="d-flex justify-content-between align-items-center">
                                <!-- Rating star -->
                                <ul class="list-inline mb-0">
                            
                                </ul>
                                   <!-- Activation/Désactivation -->
                                   <div class="d-flex align-items-center">
                                    <button *ngIf="user.active" class="btn btn-sm btn-danger me-2"
                                        (click)="deactivateUser(user.id)">
                                        <i class="bi bi-x-circle"></i> Desactivate
                                    </button>
                                    <button *ngIf="!user.active" class="btn btn-sm btn-success"
                                        (click)="activateUser(user.id)">
                                        <i class="bi bi-check-circle"></i> Activate
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card item END -->
            </div>
            <!-- Card items END -->
        </div>
        <!-- Card body END -->
    </div>
    <!-- Card END -->
</div>